#spinner {
  flex: 10;
}

#spinner-icon {
  animation: spin infinite 3s linear;
  height: 50px;
  width: 50px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}