@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}

@keyframes fadein {
  from {
    background-color: black;
  }
  to {
    background-color: #E91E63;
  }
}

#search-page,
#search-page-hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E91E63;
  -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
  transition: height 1s;
}

#search-page {
  height: 100vh;
}

#search-page-hidden {
  height: 0vh;
  animation: fadeout 0.4s;
  animation-fill-mode: forwards;
}

#search-page-title {
  margin: 0 0 24px;
  font-size: 48px;
  font-weight: bold;
  color: white;
}

#form-inputs {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.19);
}

#text-input {
  height: 80px;
  width: 48vw;
  padding: 0 0 0 16px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

#text-input:focus {
  outline: 0;
}

#button-container {
  background-color: #FFFFFF;
}

#search-button {
  display: block;
  height: 30px;
  width: 30px;
  padding: 25px;
  border: none;
  opacity: 0.3;
}

::-webkit-input-placeholder {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 28px;
  color: #CCCCCC;
}

:-ms-input-placeholder {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 28px;
  color: #CCCCCC;
}

:-moz-placeholder {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 28px;
  color: #CCCCCC;
}

::-moz-placeholder {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 28px;
  color: #CCCCCC;
}

@media only screen and (max-width: 850px) {
  ::-webkit-input-placeholder {
    font-size: 24px;
  }
  
  :-ms-input-placeholder {
    font-size: 24px;
  }
  
  :-moz-placeholder {
    font-size: 24px;
  }
  
  ::-moz-placeholder {
    font-size: 24px;
  }

  #text-input {
    padding: 0 0 0 8px;
    width: 56vw;
    font-size: 24px;
  }
}

@media only screen and (max-width: 500px) {
  #search-page-title {
    font-size: 28px;
  }

  #text-input {
    height: 64px;
    font-size: 14px;
  }

  #search-button {
    height: 20px;
    width: 20px;
    padding: 22px;
  }

  ::-webkit-input-placeholder {
    font-size: 14px;
  }
  
  :-ms-input-placeholder {
    font-size: 14px;
  }
  
  :-moz-placeholder {
    font-size: 14px;
  }
  
  ::-moz-placeholder {
    font-size: 14px;
  }

  #text-input {
    font-size: 14px;
  }
}