body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: local("Montserrat"),
  url(./assets/fonts/montserrat-regular.woff) format("woff"),
  url(./assets/fonts/montserrat-regular.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: local("Montserrat-Bold"),
  url(./assets/fonts/montserrat-bold.woff) format("woff"),
  url(./assets/fonts/montserrat-bold.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"),
  url(./assets/fonts/montserrat-light.woff) format("woff"),
  url(./assets/fonts/montserrat-light.woff2) format("woff2");
}